{{ define "main" }}
        {{ partial "nav.html" . }}
        <main class="main-wrapper">
            <section class="section_hero">
                <div class="padding-global padding-section-xhuge">
                    <div class="container-large">
                        <div class="text-align-center">
                            <div class="w-layout-vflex header-wrapper">
                                <div class="margin-bottom margin-small"><img src="/66d75566a88e61bdbe938fbe_Symbol 2.svg" loading="lazy" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;" data-w-id="ca089ab9-3bbc-4947-7087-52763d0f170c" alt="logo" class="main-icon"></div>
                                <div data-w-id="ca089ab9-3bbc-4947-7087-52763d0f170d" style="opacity: 1;" class="margin-bottom margin-small">
                                    <div class="w-layout-hflex flex-first-title">
                                        <h1 class="heading-style-h1 bold-header">FilOz Blog<br></h1>
                                    </div>
                                </div>
                                <div class="margin-top margin-xmedium">
                                    <div data-w-id="9c5c80db-1b47-6d11-024d-3acc62b99837" style="opacity: 1;" class="button-group align-center"><a data-w-id="ed2017a9-011d-406e-eac9-69e1cd5154c2" href="/" class="button-primary w-inline-block">
                                            <div class="button-text">Back</div>
                                            <div style="transform: translate3d(-25%, -37.5%, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="button-78-box"></div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-animation-wrapper">
                    <div id="w-node-_4ad4cb26-0212-8252-4a0b-bac3e39d6d92-75e009ad" class="line-block"></div>
                    <div id="w-node-e9424c70-de90-ce86-2321-beccca016848-75e009ad" class="empty-block"></div>
                    <div id="w-node-_625e66e4-bae5-2a58-5263-cc93a0e958e3-75e009ad" class="empty-block"></div>
                    <div id="w-node-_2f87ef67-fd0a-90a7-a723-20090347cb1f-75e009ad" class="empty-block"></div>
                    <div id="w-node-_2d7928ff-3698-c71f-6cd2-654665751c76-75e009ad" class="line-block"></div>
                    <div id="w-node-_8336ef6a-8023-c304-7f84-c0811ca2c555-75e009ad" class="line-block"></div>
                    <div id="w-node-_2b09d70b-9470-7ca1-828a-1c35408160db-75e009ad" class="empty-block"></div>
                    <div id="w-node-f7c44e90-a7d0-6eee-895c-cd53bc8113e9-75e009ad" class="line-block"></div>
                    <div id="w-node-ebe68d3b-7061-b8ca-5a74-9e7f5a62419b-75e009ad" class="empty-block"></div>
                    <div id="w-node-_9c4a03bb-1b86-ecec-0abd-0537507c5c30-75e009ad" class="empty-block"></div>
                    <div id="w-node-dd2189d7-077b-c15b-eb98-a66e7d8c67ea-75e009ad" class="line-block"></div>
                    <div id="w-node-fcf0cc64-47ee-6a83-024b-729384b4f714-75e009ad" class="empty-block"></div>
                    <div id="w-node-_197811a4-6f05-bba2-dfbc-d8059670305e-75e009ad" class="line-block"></div>
                    <div id="w-node-eedff181-76e6-34a9-8426-5847e15f40b5-75e009ad" class="empty-block"></div>
                    <div id="w-node-_7bb83b16-0fde-2b9c-7138-83bb194d15e3-75e009ad" class="line-block"></div>
                    <div id="w-node-_57237048-0d8d-d950-89e9-6690350e000f-75e009ad" class="empty-block"></div>
                    <div id="w-node-_4150cfe2-a963-3e42-18a5-3bc91fc9500f-75e009ad" class="empty-block"></div>
                    <div id="w-node-_9e7da8bd-46f7-16a2-0f24-4898e3050124-75e009ad" class="line-block"></div>
                    <div id="w-node-a9105ef9-27a3-6a9f-7f30-7c2d23b179bd-75e009ad" class="line-block"></div>
                    <div id="w-node-_039f0989-23ed-0587-748d-4863247d2a2e-75e009ad" class="empty-block"></div>
                    <div id="w-node-ffb5ff44-a684-f335-38c7-1a92fe398d79-75e009ad" class="line-block"></div>
                    <div id="w-node-_002c24cf-0b72-d6d5-6f4d-026f9c50e539-75e009ad" class="empty-block"></div>
                    <div id="w-node-_59964202-5c11-63e0-f5a0-a2c62aac3699-75e009ad" class="empty-block"></div>
                    <div id="w-node-_65d56a50-7e2e-6cb3-1b76-f18fd140568e-75e009ad" class="empty-block"></div>
                    <div id="w-node-_2df3df0f-a7ba-6b7f-ff38-6efde8f7a483-75e009ad" class="line-block"></div>
                    <div id="w-node-_19c3fd2e-549c-2276-95d4-d4343eef5517-75e009ad" class="empty-block"></div>
                    <div id="w-node-fe02316e-536d-e5d7-dd4b-c4c68d8ff736-75e009ad" class="empty-block"></div>
                    <div id="w-node-fd523d83-4862-0764-7a64-9437f8f1ce2c-75e009ad" class="empty-block"></div>
                    <div id="w-node-ea82b5ca-02d4-ae2f-5aff-a8a15c77fbec-75e009ad" class="empty-block"></div>
                    <div id="w-node-ee24e3b4-9b96-cc63-be77-8d4146808cca-75e009ad" class="empty-block"></div>
                    <div id="w-node-_45de5c07-ac33-c4f0-4b38-d51f5bbefbc3-75e009ad" class="line-block"></div>
                    <div id="w-node-aa5cf56e-6fc0-17c7-fb64-27a2564d72de-75e009ad" class="empty-block"></div>
                    <div id="w-node-_802f7981-87ad-bc27-4742-c271432da9bd-75e009ad" class="line-block"></div>
                    <div id="w-node-d73b25b5-dc3b-2f61-db12-93f1fc264747-75e009ad" class="line-block"></div>
                    <div id="w-node-d96c0ed6-d8c8-7fd2-dac3-267f6a2c59cd-75e009ad" class="empty-block"></div>
                    <div id="w-node-_7f52ee48-61ed-dffb-a36e-f7991df13b88-75e009ad" class="line-block"></div>
                    <div id="w-node-_4e2fd49d-d716-67e8-50fd-2ef97b7c47d5-75e009ad" class="empty-block"></div>
                    <div id="w-node-_3754e169-1af9-585c-dee5-23edbe3f311d-75e009ad" class="empty-block"></div>
                    <div id="w-node-_5564633e-252e-9edd-322f-34c59203e71f-75e009ad" class="empty-block"></div>
                    <div id="w-node-aece69c7-3b72-0436-6237-97880f2fc8c5-75e009ad" class="empty-block"></div>
                    <div id="w-node-c9348650-1a93-de59-df4c-10ea6998df4a-75e009ad" class="empty-block"></div>
                    <div id="w-node-_9c1cf48f-21d2-5a53-f99c-d13439538cca-75e009ad" class="empty-block"></div>
                    <div id="w-node-e045c758-654b-39b4-b519-e6fd5ea4c2ae-75e009ad" class="empty-block"></div>
                    <div id="w-node-b63e5c9e-b6ba-52da-014e-32650c545128-75e009ad" class="empty-block"></div>
                    <div id="w-node-_80777eba-fecf-fc94-90de-871d1d27113d-75e009ad" class="empty-block"></div>
                    <div id="w-node-_1cfc1503-709a-1a53-0a27-6bd204eb0fd2-75e009ad" class="line-block"></div>
                    <div id="w-node-_693ed310-8f0d-6b01-422c-1a974c33e0ba-75e009ad" class="empty-block"></div>
                    <div id="w-node-dd1783ce-f46d-1185-98b4-2ede07b7ce4f-75e009ad" class="empty-block"></div>
                    <div id="w-node-_0e662db4-e71b-fa74-17c5-c56ec9262816-75e009ad" class="line-block"></div>
                    <div id="w-node-_356134ac-a3fd-d44f-f634-b5fa7d5c1290-75e009ad" class="empty-block"></div>
                    <div id="w-node-_0c4ed48f-8bf0-fd70-d877-33674d896fa6-75e009ad" class="empty-block"></div>
                    <div id="w-node-efa34f0b-b12f-9d44-2b2a-b7125c0675c7-75e009ad" class="line-block"></div>
                    <div id="w-node-_3dbf04c9-79e8-6092-c127-acd1682b79df-75e009ad" class="empty-block"></div>
                    <div id="w-node-d8b329f9-3a80-afc9-b3c3-53859752f4b7-75e009ad" class="line-block"></div>
                    <div id="w-node-bfec47b3-5912-7ad4-3126-a7824166373f-75e009ad" class="empty-block"></div>
                </div>
                <div class="lottie-left" data-w-id="0c633669-1964-b6a9-99bf-c4425d2a3c3f" data-animation-type="lottie" data-src="/hero1.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="8.508508161949873" data-duration="0" style="transform: translate3d(0px, 0px, 0px) scale3d(0.99994, 0.99994, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></div>
                <div class="lottie-right" data-w-id="7d5d80e0-5c92-2900-897e-23c308b00c1a" data-animation-type="lottie" data-src="/hero2.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="8.508508161949873" data-duration="0" style="transform: translate3d(0px, 0px, 0px) scale3d(0.80006, 0.80006, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"></div>
            </section>
            <section id="events" class="section_event">
                <div class="padding-global padding-section-large">
                    <div class="container-large">
                        <div class="w-dyn-list">
                            <div role="list" class="collection-list w-dyn-items">
                                <div role="listitem" class="w-dyn-item">
                                    <div class="event_featured-item intern">
                                        <div class="event_featured-item-content intern">
                                            <div class="margin-bottom margin-small">
                                                <h1 blocks-non-deletable="true" class="heading-style-h2 light-blue">{{ .Title }}</h1>
                                            </div>
                                            <div class="margin-bottom margin-medium"><span class="text-size-small black">By: </span><span class="text-size-small gray">{{ with .Params.author }}{{ . }}{{ else }}FilOz{{ end }}</span><span style="margin: 0 0.5rem; color: #999;">•</span><span class="text-size-small"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" style="display: inline-block; vertical-align: middle; margin-right: 0.25rem;">
                                                        <g clip-path="url(#clip0_13123_2689)">
                                                            <path d="M6 3V6L8 7M11 6C11 8.76142 8.76142 11 6 11C3.23858 11 1 8.76142 1 6C1 3.23858 3.23858 1 6 1C8.76142 1 11 3.23858 11 6Z" stroke="#0090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_13123_2689">
                                                                <rect width="12" height="12" fill="white"></rect>
                                                            </clipPath>
                                                        </defs>
                                                    </svg>{{ .Date.Format "Jan 2, 2006" }}</span></div>
                                            <div class="margin-top margin-medium text-rich-text w-richtext">{{ .Content }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
{{ end }}
