<div class="footer">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-vertical padding-large">
                <div class="footer_top-wrapper"><a href="https://www.filoz.org/" class="navbar_logo-link w-nav-brand"><img loading="lazy" src="/66d5b6ea77681b13c87f7d29_Group 49.svg" alt="" class="navbar_logo"><img loading="lazy" src="/66d5b6d6840ec8413c768cf4_Group 159.svg" alt="" class="navbar_logo"></a>
                    <div class="text-block">Empowering the Future of Decentralized Storage</div>
                    <div class="w-layout-grid footer_link-list"><a href="https://www.filoz.org/" class="footer_link">Home</a><a href="https://www.filoz.org/events" aria-current="page" class="footer_link w--current">Events</a><a href="https://www.filoz.org/resources" class="footer_link">Resources</a><a href="https://medium.com/@filoz" target="_blank" class="footer_link">Blog</a></div>
                </div>
                <div class="footer_bottom-wrapper">
                    <div class="footer_credit-text">Copyright © 2024 FilOz</div>
                    <div class="w-layout-grid footer_legal-list"><a href="https://x.com/_FilOz" target="_blank" class="w-inline-block"><img loading="lazy" src="/images/icons/twitter.svg" alt=""></a><a href="https://github.com/filecoin-project/lotus" target="_blank" class="w-inline-block"><img loading="lazy" src="/images/icons/github.svg" alt=""></a><a href="https://filecoinproject.slack.com/archives/CP50PPW2X" target="_blank" class="w-inline-block"><img loading="lazy" src="/images/icons/slack.svg" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
