<div data-collapse="medium" data-animation="default" data-duration="400" fs-scrolldisable-element="smart-nav" data-easing="ease" data-easing2="ease" role="banner" class="navbar_component w-nav" style="will-change: background; background-color: rgba(203, 232, 255, 0);">
    <div class="navbar_container"><a href="https://www.filoz.org/" class="navbar_logo-link w-nav-brand" aria-label="home"><img style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" data-w-id="e644d561-803c-c19b-1fa5-c85cb350740c" alt="logo" src="/66d5b6ea77681b13c87f7d29_Group 49.svg" loading="lazy" class="navbar_logo"><img style="transform-style: preserve-3d; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);" data-w-id="e644d561-803c-c19b-1fa5-c85cb350740d" alt="logo" src="/66d5b6d6840ec8413c768cf4_Group 159.svg" loading="lazy" class="navbar_logo"></a>
        <nav role="navigation" data-w-id="e644d561-803c-c19b-1fa5-c85cb350740e" style="filter: blur(0px);" class="navbar_menu w-nav-menu"><a href="https://www.filoz.org/" class="button-secondary w-inline-block">
                <p class="nav-link-text">Home</p>
            </a><a href="https://www.filoz.org/events" aria-current="page" class="button-secondary w-inline-block w--current">
                <p class="nav-link-text">Events</p>
            </a><a href="https://www.filoz.org/resources" class="button-secondary w-inline-block">
                <p class="nav-link-text">Resources</p>
            </a><a href="https://medium.com/@filoz" target="_blank" class="button-secondary w-inline-block">
                <p class="nav-link-text">Blog</p>
            </a></nav>
        <div data-w-id="e644d561-803c-c19b-1fa5-c85cb3507423" class="navbar_menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
            <div class="menu-icon1">
                <div class="menu-icon_line-top"></div>
                <div class="menu-icon_line-middle">
                    <div class="menu-icon_line-middle-inner"></div>
                </div>
                <div class="menu-icon_line-bottom"></div>
            </div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>
